* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: #ec38d4;
}

.container {

    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
    background-color: #494343;
    border-radius: 10px;
}

.container h1 {
    margin-top: 2rem;
    text-align: center;
    color: #f5f1ea;
    position:relative ;
}

.top {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    width: 500px;
    padding: 0 0.5rem;
    border-bottom: 1px solid #dbd2d2;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.add button {
    background-color: #ec38d4;
    color: #fff6fb;
    padding: 0, 5rem 1.5rem;
    cursor: pointer;
    height: 50px;
    width: 70px;
    border-radius: 5px;

}

.todo {
    position: relative;
    margin-top: 1rem;
    background-color: #86827b;
    color: #f1ebe3;
    padding: 1.5rem 3rem;
    border-radius: 5px;

}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    gap: 0.5rem;

}

.icon {
    cursor: pointer;
    font-size: 20px;
    color: #ec38d4;
}

.loader::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}